# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Rules files
.roo
.windsurfrules
.cursor
.roomodes

# Dependency directories
node_modules/

# Environment variables
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

# Taskmasters files and cofigs
tasks.json
tasks/
scripts/
.taskmasterconfig
.taskmaster.env.example
prd.txt
prd_rate_limit.txt

# Database files
.data/ 

# Unrelated documentation
mcp_llms-full.txt
motion_openapi_specification.json
.taskmaster/config.json
.taskmaster/reports/archived/task-complexity-report.json
.taskmaster/templates/example_prd.txt
content_material/Untitled video.mp4
content_material/linkedin_announcement.md
docs/old__code_documentation_consistency_report.md
docs/full_instructions.md
docs/old__current_state_summary.md
docs/prioritization_instructions_template.md
docs/prioritization_instructions.md
docs/workflow_implementation_rules.md
exported_cursor_chats/cursor_handoff_of_motion_mcp_server_pro.md
exported_cursor_chats/cursor_improving_tool_documentation_hea.md
prds/20250515_tool_token_efficiency_prd.txt
prds/20250530_rate_limiting_prd.txt
prds/20250603_tool_doc_improvement_prd.md
prds/20250606_refactoring_prd.md

# Added by Task Master AI
# Task files